@import 'tailwindcss';

@theme {
  --color-white: #ffffff;           /* branco para contraste com fundo escuro */
  --color-white-full: #ffffff;
  --color-grey: #2b2b2b;            /* cinza escuro de fundo */
  --color-blue: #000000;           /* escuro */
  --color-blueHalf: #2e2e2e;       /* cinza escuro mais elegante */
  --color-blueDark: #1c1c1c;       /* cinza quase preto */
  --color-blueSuperDark: #0a0a0a;  /* preto absoluto */
  --color-lightBlue: #4b4b4b;      /* cinza médio sofisticado para destaques */     /* cinza médio para destaques sutis */
  --color-salmon: #ff0000;          /* vermelho puro para alertas */
  --color-lightgren: #00ff00;       /* verde puro para destaques positivos */
}
